[displayTaskOptions] {
    display: block !important;
}

.taskOptions {
    display: none;
}

@media (orientation: portrait) {
    #sidebar, #right {
        inline-size: 100%;
        block-size: 100%;
    }

    #sidebar {
        display: none;
    }

    #right[isSwitchingGroupsInPortrait='true'] {
        filter: blur(5px)
    }

    #sidebar[isSwitchingGroupsInPortrait='true'] {
        position: absolute;
        display: flex;
        z-index: 1;

        /* 为了修正偏移 */
        right: 0px;
        bottom: 0px;
        left: 0px;
        border-right: 0px;
    }

    .groupOptions {
        display: block;
    }

}

@media (orientation: landscape) {
    #sidebar {
        flex-direction: column;
    }

    #expandGroups {
        display: none;
    }
}