/* 该样式保持在第一位 */
[timestamp="null"]>.taskOptions {
    display: block;
}

/*Element Plus, 下拉菜单*/
.example-showcase .el-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
}

.blankBelowGroupList {
    flex: 1
}

#addTask {
    height: 100%
}

#sidebar>div:nth-child(1), #currentGorupName {
    font-size: 2rem;
}

#sidebar, #right {
    font-size: 1.5rem;
}

.taskDetails, .taskOptions {
    font-size: 1rem;
}

#completed .taskContent {
    color: grey
}

#underContainer {
    display: flex;
}

.taskBox-inputTag {
    flex: 1
}

/* .taskTrailing{
    flex-shrink: 2;
} */

.taskBox {
    display: flex
}

#container, #sidebar {
    position: relative;
    overflow: scroll;
}

body {
    /* 为了去除 body 外的 margin 而导致的滚动条*/
    box-sizing: border-box;
    margin: 0;
    padding: 8px;

    display: flex;
    block-size: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid grey;
    position: relative;
    /* 给中间的分割线的两边留出空白 */
    padding-right: 1rem;
    margin-right: 1rem
}

#right {
    flex: 2;
}

/* 移动端 */
@media (orientation: portrait) {
    #sidebar, #right {
        inline-size: 100%;
        block-size: 100%;
    }

    #sidebar {
        display: none;
    }

    #right[isSwitchingGroupsInPortrait='true'] {
        filter: blur(5px)
    }

    #sidebar[isSwitchingGroupsInPortrait='true'] {
        position: absolute;
        display: flex;
        z-index: 1;

        padding-right: 0;
        /* margin-right: 0; */
        /* 为了修正偏移 */
        right: 0px;
        bottom: 0px;
        left: 0px;
        border-right: 0px;
    }

    .groupOptions {
        display: block;
    }

}

@media (orientation: landscape) {
    #sidebar {
        /* display: flex; */
        flex-direction: column;
    }

    #expandGroups {
        /* visibility: hidden; */
        display: none;
    }

    /* .groupOptions {
        visibility: hidden;
    }

    .groupItem:hover .groupOptions {
        display: inline;
    } */
}


#topBar {
    display: flex;
    position: relative;
}

#dropDown_systemTool {
    display: flex;
    /* position: absolute;
    bottom: 0; */
    inline-size: 100%;
}

.groupItem {
    display: flex;
}

.groupName {
    flex: 1;
}

.groupTrailing>* {
    display: inline;
}

#allTasks .taskNumber,
#toDeadline .taskNumber {
    display: block;
}

#groupList[remainingGroups="1"] .deleteGroup {
    display: none;
}

.taskOptions {
    display: none;
}

/* .taskMain {
    border: 2px solid blue;
    margin-top: 1em;
} */

.taskContent {
    border: none;
}

.grouping {
    display: none;
}